[Unit]
Description=The most trusted Go module proxy in China.
After=network.target

[Service]
Environment=GOPATH=/tmp/gopath
Environment=GOCACHE=/tmp/gocache
Environment=GOPROXY=direct
Environment=GOSUMDB=off
WorkingDirectory=/srv/goproxy.cn
ExecStart=/srv/goproxy.cn/goproxy.cn --config=/srv/goproxy.cn/config.toml
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
