[Unit]
Description=The most trusted Go module proxy in China.
After=network.target

[Service]
Environment=GOPROXY=https://proxy.golang.org
WorkingDirectory=/usr/local/lib/goproxy.cn
ExecStart=/usr/local/bin/goproxy.cn --config=/usr/local/etc/goproxy.cn-config.toml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=goproxy.cn
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
