body {
	color: #5a5a5a;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	padding: 3.5rem 0;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 0.875rem;
	}
}

hr {
	margin: 4rem 0;
}

pre code {
	word-wrap: normal;
}

.jumbotron {
	margin-bottom: 5rem;
}

.jumbotron .logo {
	width: 15rem;
}

@media screen and (max-width: 600px) {
	.jumbotron .logo {
		width: 12rem;
	}

	.jumbotron .brand {
		font-size: 2.5rem;
	}
}

.language-item-selected,
.language-item-selected:hover {
	color: #5a5a5a;
	font-weight: bold;
}

footer p {
	text-align: center;
}
