<div class="jumbotron">
	<div class="container text-center">
		<h1 class="brand display-3">常见问题</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<p>Goproxy 中国现在正试图尽可能多地收集各种关于大家在使用 Go 模块时所遇见的问题并尽力给出最棒的解答。通过这样做，我们相信我们可以更好地帮助大家去使用 Go 模块。</p>
		<p>如果你无法在下方找到你想要问的问题的解答，那么可以随时去<a href="https://github.com/goproxy/goproxy.cn/issues/new?assignees=&labels=&template=question-consultation.zh-CN.md&title=问题：" target="_blank">这里</a>发表你的问题。请注意遵循我们为你准备好的 Issue 模版，那样可以帮助我们更好地解答你的问题。</p>
	</div>

	<hr>

	<div class="row">
		<h2>目录</h2>
	</div>

	<div class="row">
		<ul>
			<li><a href="#我对一个库提交了新的修改，为什么在我运行 go get -u 或 go list -m -versions 时它却没有出现？">我对一个库提交了新的修改，为什么在我运行 go get -u 或 go list -m -versions 时它却没有出现？</a></li>
			<li><a href="#我从我的库中移除了一个有问题的发行版，但它却仍然出现，我该怎么办？">我从我的库中移除了一个有问题的发行版，但它却仍然出现，我该怎么办？</a></li>
		</ul>
	</div>

	<hr>

	<div class="row">
		<p id="我对一个库提交了新的修改，为什么在我运行 go get -u 或 go list -m -versions 时它却没有出现？"><a class="font-weight-bold text-info" href="#我对一个库提交了新的修改，为什么在我运行 go get -u 或 go list -m -versions 时它却没有出现？">我对一个库提交了新的修改，为什么在我运行 go get -u 或 go list -m -versions 时它却没有出现？</a></p>
	</div>

	<div class="row">
		<p>如果你正在使用 <a href="https://goproxy.cn">goproxy.cn</a> 作为你的 Go 模块代理，那么你需要知道为了改善缓存和服务等待时间，新修改可能不会立即出现。如果你希望新修改立即出现在 <a href="https://goproxy.cn">goproxy.cn</a> 中，则首先确保在源库中有此修改的语义化版本的标签，接着通过 <code>go get module@version</code> 来显式地请求那个发行版。在几分钟过后缓存过期，<code>go</code> 命令就能看到那个发行版了。</p>
	</div>

	<div class="row">
		<p id="我从我的库中移除了一个有问题的发行版，但它却仍然出现，我该怎么办？"><a class="font-weight-bold text-info" href="#我从我的库中移除了一个有问题的发行版，但它却仍然出现，我该怎么办？">我从我的库中移除了一个有问题的发行版，但它却仍然出现，我该怎么办？</a></p>
	</div>

	<div class="row">
		<p>如果你正在使用 <a href="https://goproxy.cn">goproxy.cn</a> 作为你的 Go 模块代理，那么你需要知道为了避免依赖你的模块的人的构建被破坏，Goproxy 中国会尽可能地缓存内容。因此，即使一个发行版在源库中已经不存在了，但它在 <a href="https://goproxy.cn">goproxy.cn</a> 中却仍然有可能继续存在。如果你删除了你的整个库，则情况相同。我们建议你创建一个新的发行版并鼓励人们使用它，而不是移除一个已发布的。</p>
	</div>
</div>
