<div class="jumbotron">
	<div class="container text-center">
		<h1 class="brand display-3">{{locstr "FAQ"}}</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md">
			<p>{{locstr "Goproxy China is now trying to collect as many questions as possible about the problems Gophers have when working with Go moduels and try to give the best answers. By doing this, we believe we can better help everyone use Go moduels."}}</p>
			<p>{{locstr "If you can't find the answer to the question you want to ask below, you can always post your question by clicking the \"New Question\" button below. Please pay attention to follow the issue template we have prepared for you, that will help us better answer your question."}}</p>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md">
			<a class="btn btn-outline-warning btn-lg" href="{{locstr "https://github.com/goproxy/goproxy.cn/issues/new?assignees=&labels=&template=question-consultation.md&title=Question%3A+"}}" role="button">{{locstr "New Question"}}</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md">
			<h2 id="{{locstr "Table of Contents"}}"><a class="font-weight-bold text-info" href="#{{locstr "Table of Contents"}}">{{locstr "Table of Contents"}}</a></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<ul>
				{{range .QAs}}
				<li><a href="#{{.Question}}">{{.Question}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>

	<hr>

	{{range .QAs}}

	<div class="row">
		<div class="col-md">
			<p id="{{.Question}}"><a class="font-weight-bold text-info" href="#{{.Question}}">{{.Question}}</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<p>{{.Answer}}</p>
		</div>
	</div>

	{{end}}
</div>
