<div class="jumbotron">
	<div class="container text-center">
		<h1 class="brand display-3">{{locstr "FAQ"}}</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md">
			<p>{{str2html (locstr "If you can't find the answer to the question you want to ask below, you can always post your question by clicking the <code>New Question</code> button below. Please pay attention to follow the issue template we have prepared for you, that will help us better answer your question.")}}</p>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md">
			<a class="btn btn-outline-warning btn-lg" href="{{locstr "https://github.com/goproxy/goproxy.cn/issues/new?assignees=&labels=&template=new-question.md&title=Question%3A+"}}" role="button">{{locstr "New Question"}}</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md">
			<h3 id="table-of-contents"><a class="font-weight-bold text-info" href="#table-of-contents">{{locstr "Table of Contents"}}</a></h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<ul>
				{{range .QAs}}
				<li><a href="#{{.ID}}">{{.Question $.Locale}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>

	<hr>

	{{range .QAs}}

	<div class="row">
		<div class="col-md">
			<p id="{{.ID}}"><a class="font-weight-bold text-info" href="#{{.ID}}">{{.Question $.Locale}}</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<p>{{.Answer $.Locale}}</p>
		</div>
	</div>

	{{end}}
</div>
