<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<title>{{locstr "Goproxy China"}}</title>
		<meta name="description" content="{{locstr "A trusted Go module proxy located in China."}}">

		<link rel="canonical" href="https://goproxy.cn">
	</head>

	<body>
		<h1>{{locstr "Welcome home!"}}</h1>
	</body>
</html>
