<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>{{with .PageTitle}}{{.}} - {{end}}{{locstr "Goproxy China"}}</title>
	<meta name="description" content="{{locstr "A trustworthy Go module proxy in China."}}">
	<meta name="author" content="{{locstr "Aofei Sheng"}}">

	<link rel="canonical" href="https://goproxy.cn{{.CanonicalPath}}">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.12.1/css/all.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/9.18.1/styles/routeros.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
